.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    flex-direction: column;
    }
    input{
      width: 500px;
      height: 60px;
    }
    input{
      color: rgb(3, 75, 29);
      font-size: xx-large;
     
      box-shadow: 5px 8px 6px black;
      text-align: center;
      
    }
    #keycode{
      width: 100px;
      height: 100px;
      box-shadow: 0px 1px 3px black;
      text-align: center;
    }
    #ans{
      color: green;
      font-size: xx-large;
      margin-top: 1px;
  
    }
    #keyboard{
      width: 100px;
      height: 100px;
      box-shadow: 0px 1px 3px black;
      text-align: center;
    }
    #key-text{
      color: green;
      font-size: xx-large;
      margin-top: 1px;
    }
  